Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Root element/Parent -->
	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Hotel with optional Rating and required NearestAirport attributes -->
	<xs:complexType name="HotelType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<!-- Phone must appear at least once, maybe more -->
			<xs:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Address" type="AddressType"/>
		</xs:sequence>
		<xs:attribute name="Rating" type="RatingType" use="optional"/>
		<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
	</xs:complexType>

	<!-- Address in left-to-right order: Number, Street, City, State, Zip -->
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Number" type="xs:positiveInteger"/>
			<xs:element name="Street" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State" type="USStateType"/>
			<xs:element name="Zip" type="ZipType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Simple validations/reqs -->
	<xs:simpleType name="PhoneType">
		<xs:restriction base="xs:string">
			<!-- e.g., 480-867-5309 -->
			<xs:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RatingType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="5.0"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="USStateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ZipType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}(-\d{4})?"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
